# --------------------------
# Temporary files
# --------------------------
*swp
*tmp*
*.log

# --------------------------
# Temporary files exceptions
# --------------------------
!logImportante.log

# --------------------------
# Temporary directories
# --------------------------
tempDoTemp/
